{% extends "base.html.twig" %}
{% use "navbar.html.twig" %}

{% block title %}
    {{ parent() ~ 'Perfil' }}
{% endblock %}

{% block body %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <div class="container">
         {% for flash_message in app.session.flashbag.get('profile#updated_successfully') %}
            <div class="alert alert-success" role="alert">
                {{flash_message}}
            </div>
        {% endfor %}

        <h1 class="text-center">Atualizar senha</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
