{% extends "base.html.twig" %}

{% block title %}
    {{ parent() ~ 'Clientes' }}
{% endblock %}

{% block body %}
    <div class="container">
        {% for flash_message in app.session.flashbag.get('notice') %}
            {{flash_message}}
        {% endfor %}

        <div class="row">
            <div class="col">
                <h1 class="text-center">Listagem de clientes</h1>
            </div>
        </div>

        {{ form_start(form) }}

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">{{ form.filterType.vars.label }}</span>
            </div>
            {{ form_widget(form.filterType) }}
        </div>
      
       <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">{{ form.filterText.vars.label }}</span>
            </div>
            {{ form_widget(form.filterText) }}
        </div>

        {{ form_end(form) }}

        {% if is_granted('ROLE_ADMIN') %}
            <div class="row">
                <div class="col">
                    <a class="btn btn-primary" href="/create_customer">Adicionar</a>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">CPF / CNPJ</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Vendedor</th>
                        {% if is_granted('ROLE_ADMIN') %}
                            <th scope="col">Ações</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for customer in customers %}
                        <tr>
                            <th scope="row">{{ customer.id }}</th>
                            <td>{{ customer.name }}</td>
                            <td>{{ customer.documentnumber }}</td>
                            <td>{{ customer.email }}</td>
                            <td>{{ customer.phone }}</td>
                            <td>{{ customer.user.name }}</td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td>
                                    <a class="btn btn-secondary btn-sm" href="/edit_customer/{{ customer.id }}">Editar</a>
                                    <a class="btn btn-danger btn-sm" href="/edit_customer/{{ customer.id }}">Remover</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}