{% extends "base.html.twig" %}
{% use "navbar.html.twig" %}
{% form_theme filter_form 'theme/filter.html.twig' %}

{% block title %}
    {{ parent() ~ 'Clientes' }}
{% endblock %}

{% block body %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <div class="container">
        <!-- Flash messages -->
        {% for flash_message in app.session.flashbag.get('customer#success') %}
            <div class="alert alert-success" role="alert">
                {{flash_message}}
            </div>
        {% endfor %}

        <div class="row mb-4">
            <div class="col">
                <div class="sge-filter">
                    {{ form_start(filter_form) }}

                    <div class="row">
                        {{ form_widget(filter_form.filterType) }}
                        {{ form_widget(filter_form.filterText) }}
                        {{ form_widget(filter_form.submit) }}
                    </div>

                    {{ form_end(filter_form) }}
                </div>
            </div>
        </div>

        <!-- Section title -->
        <div class="row mb-3">
            <div class="col">
                <h1 class="text-center">Listagem de clientes</h1>
            </div>
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="row mb-3">
                <div class="col">
                    <a class="btn btn-primary" href="/create_customer">Adicionar</a>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">CPF / CNPJ</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Vendedor</th>
                        {% if is_granted('ROLE_ADMIN') %}
                            <th scope="col">Ações</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for customer in customers %}
                        <tr>
                            <th scope="row">{{ customer.id }}</th>
                            <td>{{ customer.name }}</td>
                            <td>{{ customer.documentnumber }}</td>
                            <td>{{ customer.email }}</td>
                            <td>{{ customer.phone }}</td>
                            <td>{{ customer.user.name }}</td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td>
                                    <a class="btn btn-secondary btn-sm" href="/edit_customer/{{ customer.id }}">Editar</a>
                                    <a class="btn btn-danger btn-sm" href="/remove_customer/{{ customer.id }}">Remover</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
