{% extends "base.html.twig" %}
{% use "navbar.html.twig" %}

{% block title %}
    {{ parent() ~ 'Parcelas' }}
{% endblock %}

{% block body %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <div class="container">
        <div class="row mb-4">
            <div class="col">
                <h1 class="text-center">Parcelas</h1>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">CPF</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Vencimento</th>
                            <th scope="col">Status</th>
                            {% if is_granted('ROLE_ADMIN') %}
                                <th scope="col">Ações</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for installment in installments %}
                            <tr>
                                <th scope="row">{{ installment.id }}</th>
                                <td>{{ installment.loan.customer.name}}</td>
                                <td>{{ installment.loan.customer.documentnumber }}</td>
                                <td>{{ 'R$ ' ~ installment.value }}</td>
                                <td>{{ installment.duedate | date('d/m/Y') }}</td>
                                <td>
                                    {% if installment.status.isPaid %}
                                        <span class="badge badge-pill badge-success">{{ installment.status.name }}</span>
                                    {% endif %}
                                    {% if installment.status.isToReceive %}
                                        <span class="badge badge-pill badge-secondary">{{ installment.status.name }}</span>
                                    {% endif %}
                                    {% if installment.status.isInArrears %}
                                        <span class="badge badge-pill badge-danger">{{ installment.status.name }}</span>
                                    {% endif %}
                                </td>

                                {% if is_granted('ROLE_ADMIN') %}
                                    <td>
                                        {% if not installment.status.isPaid %}
                                            <a class="btn btn-secondary btn-sm" href="/pay_installment/{{ installment.id }}">Dar baixa</a>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
