{% extends "base.html.twig" %}
{% use "navbar.html.twig" %}

{% block title %}
    {{ parent() ~ 'Criar novo produto?' }}
{% endblock %}

{% block body %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <div class="container" style="max-width: 650px">
        <div class="row mb-30">
            <div class="col">
                <div class="alert alert-info">
                    <h4 class="alert-heading">A última parcela não foi totalmente paga</h4>
                    <hr>
                    <p>Parece que faltaram <b>{{ 'R$ ' ~ value }}</b> no pagamento da última parcela.</p>
                    <p>Você quer gerar um novo produto com este valor?</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <a href="/create_loan?customer={{customer.id}}&value={{value}}" class="btn btn-success">Sim, gerar novo produto</a>
                <a href="/installments" class="btn btn-link">Não, apenas prosseguir</a>
            </div>
        </div>
    </div>
{% endblock %}
