{% extends "base.html.twig" %}
{% use "navbar.html.twig" %}

{% block title %}
    {{ parent() ~ 'Editar usuário' }}
{% endblock %}

{% block body %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <!-- Edit basic information -->
    <div class="container">
        {% for flash_message in app.session.flashbag.get('user#error') %}
            <div class="alert alert-danger" role="alert">
                {{flash_message}}
            </div>
        {% endfor %}

        <div class="row mb-3">
            <div class="col">
                <h1 class="text-center">Editar usuário</h1>
            </div>
        </div>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

    <!-- Divider -->
    <hr style="margin: 50px 0">

    <!-- Edit password -->
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <h1 class="text-center">Editar senha</h1>
            </div>
        </div>

        {{ form_start(form_password) }}
        {{ form_widget(form_password) }}
        {{ form_end(form_password) }}
    </div>
{% endblock %}
