{% extends "base.html.twig" %}
{% use "navbar.html.twig" %}

{% block title %}
    {{ parent() ~ 'Editar usuário' }}
{% endblock %}

{% block body %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <div class="container">
        <h1 class="text-center">Editar usuário</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

        {{ form_start(form_password) }}
        {{ form_widget(form_password) }}
        {{ form_end(form_password) }}
    </div>
{% endblock %}
